* {
    margin: 0;
    padding: 0;
    border: none;
}

/* Navigation for index pages */
.topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
}

.topnav #myLinks {
    display: none;
}

.topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

.topnav a:hover {
    background-color: #fff;
    color: black;
}

.topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.active {
    background-color: #04AA6D;
    color: white;
}
#game-library{
    height: 400px;
    width: 400px;
    border: 1px solid black;
}

#rpsls-game {
    border: 1px solid black;
    display: block;
}

#rpsls-rules {
    border: 1px solid black;
    display: block;
}

/*Whack a mole*/
.whack-a-mole-grid {
    width: 606px;
    height: 606px;
    display: flex;
    flex-wrap: wrap;
    border: 1px soild black;
}
.square {
    height: 200px;
    width: 200px;
    border: 1px solid #000;
}

.mole {
    background-image: url(../images/whack-a-mole.png);
    background-position: center;
}

/*for break out*/
.break-out-grid{
    position: absolute;
    width: 570px;
    height: 300px;
    border: 1px solid black;
    margin-top: 100px;
}

.block {
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: blue;
}

.user {
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: purple;
}
.ball {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: silver;
}

footer {
    position: fixed;
    bottom: 0;
    border: 1px solid black;
    display: flex;
    height: 100px;
}